
		<table class="table table-responsive">
            
            <thead>
                <th>
                    <strong>Tutorial</strong>
                </th>
            </thead>
            <br/><br/>
            <tbody>
                <tr>
                    <td><strong>Search Evaluation Tab</td>
                </tr>
                <tr>
                    <td> In this tab, you can search for existing lesson evaluations.
                    You can search based on the lesson evaluation author, the lesson evaluation title, keywords or tools, minimum score, subjects, or grade levels
                    </td>
                </tr>
                
                <tr>
                    <td><strong>Evaluate Your Lesson Tab</td>
                </tr>
                <tr>
                    <td> In this tab, you can submit your own evaluations for lesson plans.
                    You can include information such as the lesson evaluation author, the lesson evaluation title, keywords or tools, minimum score, subject, grade levels, and a lesson document.
                    You will rate each area of your lesson (engagement, enhancement, and extension of the learning goals) between a 0 and a 2.
                    </td>
                </tr>
                
                <tr>
                    <td><strong>Account Tab</td>
                </tr>
                <tr>
                    <td> In this tab, you can login if you aren't already logged in, or logout if you are logged in.
                    </td>
                </tr>
                
                <tr>
                    <td><strong>Profile Tab</td>
                </tr>
                <tr>
                    <td> In this tab, you can view your profile picture, a brief description about yourself, and all your lesson evaluations.
                    </td>
                </tr>
                
            </tbody>
        </table>