<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Triple E Network</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap requirements -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <!--local page scripts-->
    <script src="script.js"></script>
    <script src="keys.js"></script>
    <!--Parse-->
    <!--<script src="http://www.parsecdn.com/js/parse-latest.js"></script> -->
    <script src="https://npmcdn.com/parse@1.9.2/dist/parse.js"></script>
    <link rel="stylesheet" href="styles.css">

</head>
<body>


    <div class="container" ng-controller="main">
        <h2>Triple E Network</h2>
        <ul class="nav nav-tabs" id="tabs">
            <li role="presentation"><a data-toggle="tab" href="#login">Main</a></li>
            <li role="presentation" id="search-tab"><a data-toggle="tab" href="#search">Search</a></li>
            <li role="presentation" id="form-tab"><a data-toggle="tab" href="#evaluate-lesson">Evaluate Your Lesson</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Account <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-hide="isUser()"><a data-toggle="tab" href="#login">Login</a></li>
                    <li ng-show="isUser()"><a data-toggle="tab" href="#logout">Logout</a></li>
                    <li role="separator" class="divider"></li>
                    <li ng-show="isUser()"><a>Welcome {{username}}!</a></li>
                    <li ng-hide="isUser()"><a>Not Logged In</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <!--    need to make sure that uncommenting this in browser does not show users -->
            <div id="userlist" class="tab-pane fade" ng-controller="userlist">
                <h1>User List </h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- -->
            <div id="search" class="tab-pane fade" ng-controller="search">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table" id="search-results">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>Title</th>
                                    <th>Subject</th>
                                    <th>Grade Level</th>
                                    <!--     <th>Learning Goals</th> -->
                                    <th>Score</th>
                                    <th>Engage Total</th>
                                    <th>Enhance Total</th>
                                    <th>Extend Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in results">
                                    <td>{{result.username}}</td>
                                    <td ng-click="displayEval(result.objectId)"><font color="blue" style="cursor: pointer;"> {{result.title}} </font></td>
                                    <td>{{result.subject.get("subjectName")}}</td>
                                    <td>{{result.gradelevel}}</td>
                                    <!--       <td>{{result.learning_goals}}</td>-->
                                    <td>{{result.score}}</td>
                                    <td>{{result.engagetotal}}</td>
                                    <td>{{result.enhancetotal}}</td>
                                    <td>{{result.extendtotal}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <form>
                            <div style="min-height: 31px;">
                                <label class="search_labels">Evaluator</label>
                                <input style="min-width:65%" ng-model="authorString" id="textInput" type="text"></input>
                            </div>
                            <div style="min-height: 31px">
                                <label class="search_labels">Title</label>
                                <input style="min-width:65%" ng-model="queryString" id="textInput" type="text"></input>
                            </div>
                            <div style="min-height: 31px">
                                <label class="search_labels">Keywords</label>
<!--                                 <div> -->
                                    <input style="min-width:65%;" ng-model="tagString" id="textInput" type="searchtext"></input>
<!--                                 </div> -->
                            </div>
                            <div style="min-height: 31px">
                                <label class="search_labels">Minimum Score</label>
<!--                                 <div> -->
                                    <input style="min-width:65%" ng-model="minScore" id="textInput" type="text"></input>
<!--                                 </div> -->
                            </div>
                            <div>
                                <select ng-model="subject">
                                    <option value="">Subject</option>
                                    <option ng-repeat="subjectObject in subjects" value="{{subjectObject.get('subjectName')}}">{{subjectObject.get("subjectName")}} </option>
                                </select>
                            </div>
                            <div>
                                <select ng-model="gradeLevel">
                                    <option value="">Grade Level</option>
                                    <option ng-repeat="gradelevel in gradeLevels" value="{{gradelevel}}">{{gradelevel}} </option>
                                </select>
                            </div>
                            <!--  <div>
                                  <label>Learning Goals</label>
                                  <input ng-model="queryString" id="textInput" type="text"></input>
                              </div> -->
                            <button type="button" class="btn btn-primary btn-lg " ng-click="searchEvals()">Press to Search</button>
                        </form>
                    </div>
                </div>
                <div id="selected-search-result" hidden="true">
                    <h2 class="form-reviewform-heading">Triple E Review</h2>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Triple E Evaluation Rubric</th>

                            </tr>
                            <div>
                                Lesson Title:
                                <label name="title" id="chosen-lesson-title">
                            </div>
							<div>
                                URL:
                                <label id="chosen-lesson-URL">
                            </div>
                            <div>
                                Evaluator:
                                <label id="chosen-lesson-author">
                            </div>
                            <div>
                                Subject:
                                <label id="chosen-lesson-subject">
                            </div>
                            <div>
                                Grade Level:
                                <label id="chosen-lesson-grade">
                            </div>
                            <div>
                                Learning Goals:
                                <label id="chosen-learning-goals">
                            </div>
                            <div>
                                Score:
                                <label id="chosen-lesson-score">
                            </div>
                            <div>
                                Engage Total:
                                <label id="chosen-engage-total">
                            </div>
                            <div>
                                Enhance Total:
                                <label id="chosen-enhance-total">
                            </div>
                            <div>
                                Extend Total:
                                <label id="chosen-extend-total">
                            </div>
                        </thead>
                        <tbody id="chosen-individual-scores">
                            <tr>
                                <td><strong>Engagement in the learning</strong></td>
                                <td>0=No</td>
                                <td>1=Somewhat</td>
                                <td>2=Yes</td>
                                <td>Comments</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology allows students to focus on the assignment or activity with less distraction.
                                </td>
                                <td>
                                    <label id='engage10' name="engage1" ng-model="engage1" value="0">O</label>
                                </td>
                                <td>
                                    <label id='engage11' name="engage1" ng-model="engage1" value="1">O</label>
                                </td>
                                <td>
                                    <label id='engage12' name="engage1" ng-model="engage1" value="2">O</label>
                                </td>
                                <td rowspan="3" class="search_comments_field">
                                	<label id='chosen-engage-comment'></label>
								</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology motivates students to start the learning process.
                                </td>
                                <td>
                                    <label id='engage20' name="engage2" ng-model="engage2" value="0">O</label>
                                </td>
                                <td>
                                    <label id='engage21' name="engage2" ng-model="engage2" value="1">O</label>
                                </td>
                                <td>
                                    <label id='engage22' name="engage2" ng-model="engage2" value="2">O</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The technology causes a shift in the behavior of the students, where they move from passive to active social learners (co-use)
                                </td>
                                <td>
                                    <label id='engage30' name="engage3" ng-model="engage3" value="0">O</label>
                                </td>
                                <td>
                                    <label id='engage31' name="engage3" ng-model="engage3" value="1">O</label>
                                </td>
                                <td>
                                    <label id='engage32' name="engage3" ng-model="engage3" value="2">O</label>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Enhancement of the learning goals</strong></td>
                                <td>0=No</td>
                                <td>1=Somewhat</td>
                                <td>2=Yes</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology tool allows students are able to develop or demonstrate a more sophisticated understanding of the learning goals or content
                                </td>
                                <td>
                                    <label id='enhance10' name="enhance1" ng-model="enhance1" value="0">O</label>
                                </td>
                                <td>
                                    <label id='enhance11' name="enhance1" ng-model="enhance1" value="1">O</label>
                                </td>
                                <td>
                                    <label id='enhance12' name="enhance1" ng-model="enhance1" value="2">O</label>
                                </td>
                                <td rowspan="3" class="search_comments_field">
                                	<label id='chosen-enhance-comment'></label>
								</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates supports (scaffolds) to make it easier to understand concepts or ideas
                                </td>
                                <td>
                                    <label id='enhance20' name="enhance2" ng-model="enhance2" value="0">O</label>
                                </td>
                                <td>
                                    <label id='enhance21' name="enhance2" ng-model="enhance2" value="1">O</label>
                                </td>
                                <td>
                                    <label id='enhance22' name="enhance2" ng-model="enhance2" value="2">O</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates paths for students to demonstrate their understanding of the learning goals in a way that they could not do with traditional tools
                                </td>
                                <td>
                                    <label id='enhance30' name="enhance3" ng-model="enhance3" value="0">O</label>
                                </td>
                                <td>
                                    <label id='enhance31' name="enhance3" ng-model="enhance3" value="1">O</label>
                                </td>
                                <td>
                                    <label id='enhance32' name="enhance3" ng-model="enhance3" value="2">O</label>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Extending the learning goals</strong></td>
                                <td>0=No</td>
                                <td>1=Somewhat</td>
                                <td>2=Yes</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates opportunities for students to learn outside of their typical school day
                                </td>
                                <td>
                                    <label id='extend10' name="extend1" ng-model="extend1" value="0">O</label>
                                </td>
                                <td>
                                    <label id='extend11' name="extend1" ng-model="extend1" value="1">O</label>
                                </td>
                                <td>
                                    <label id='extend12' name="extend1" ng-model="extend1" value="2">O</label>
                                </td>
                                <td rowspan="3" class="search_comments_field">
                                	<label id='chosen-extend-comment'></label>
								</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates a bridge between students school learning and their everyday life experiences
                                </td>
                                <td>
                                    <label id='extend20' name="extend2" ng-model="extend2" value="0">O</label>
                                </td>
                                <td>
                                    <label id='extend21' name="extend2" ng-model="extend2" value="1">O</label>
                                </td>
                                <td>
                                    <label id='extend22' name="extend2" ng-model="extend2" value="2">O</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The technology allows students to build authentic life skills, which they can use in their everyday lives
                                </td>
                                <td>
                                    <label id='extend30' name="extend3" ng-model="extend3" value="0">O</label>
                                </td>
                                <td>
                                    <label id='extend31' name="extend3" ng-model="extend3" value="1">O</label>
                                </td>
                                <td>
                                    <label id='extend32' name="extend3" ng-model="extend3" value="2">O</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="login" class="tab-pane fade in active" ng-controller="login">
                <form role="form" ng-submit="login()" ng-hide="isUser()">
                    <h2 class="form-signin-heading">Sign in</h2>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="sr-only" for="username">Username</label>
                            <input type="username" class="form-control" id="username" placeholder="Enter username" ng-model="user.username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="sr-only" for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div ng-show="isUser()">
                    Welcome {{user.username}}
                    <p>
                        Reading Results:
                        </p>
                    <p>
                        13-18 Points=Green Light:  Exceptional or very strong connection between technology, instructional moves and learning goals.   When a lesson has at least 13 points, it is always meeting all three components of the Framework.  Therefore, these lessons tend to show a remarkable connection between the technology tools, instructional choices around the tool, and students’ focus and take up of the learning goals.  Students should be engaged as active time-on task social learners through the technology. Students understanding of the learning goals should be enhanced through the technology in ways that traditional tools could not easily do, and finally students understanding of the learning goals should transcend the classroom so that they are connecting what they are learning to their everyday life.
                    </p>
                    <p>
                        7-12 Points=  Yellow Light:  When a lesson is meeting between 10 and 12 points, The lesson is meeting at least two of the three levels of the Framework.  By meeting at least two levels (most often engagement and enhancement or engagement and extension) there is a strong connection between technology tools and student’s take up of the learning goals.  When a lesson has between 7 and 9 points, The lesson is usually meeting two of the levels of the Framework.  However, it is not usually meeting both components at all the highest options.  Thus, while there is a connection between technology and learning goals, educators should take time to re-evaluate the lesson and technology choices and instructional moves to make certain that technology enhances and/or extends the learning goals in some significant way.  This may be an opportunity to add more instructional moves into the lesson to better leverage the technology for student learning.
                    </p>
                    <p>
                        6 Points or below= Red Light: When a lesson has 6 points or below, the lesson is often meeting only one of the levels of the Framework.  This level is almost always engagement. Consequently, the connection between technology, instructional moves and learning goals tends to be low and if engagement is the only connection, the educators should reconsider if this particular technology should be used in the lesson, if more instructional moves should be added to better leverage the technology for enhancing or extending learning or if a more traditional method (not using technology) may be more appropriate.  In particular, since technology tends to extol much time and energy to set up and implement, it should be used carefully and purposefully.
                    </p>
                </div>
                <br>
                <div class="row" ng-hide="isUser()">
                    <div class="col-md-6">
                        <button data-toggle="tab" class="btn btn-success " href="#signup">Signup</button>
                        <button data-toggle="tab" class="btn btn-default " href="#reset">Forgot Password</button>
                    </div>
                </div>
            </div>

            <div id="signup" class="tab-pane fade" ng-controller="signUp">
                <form role="form">
                    <h2 class="form-signup-heading">Signup</h2>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <table>
                                <tr>
                                    <td>
                                        <div1 class="form_labels">
                                            <span>Username:</span>
                                        </div1>
                                    </td>
                                    <td class="form_text_field">
                                        <div2>
                                            <label class="sr-only" for="username">Username:</label>
                                            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
                                        </div2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td>
                                        <div1 class="form_labels">
                                            <span>Name:</span>
                                        </div1>
                                    </td>
                                    <td class="form_text_field">
                                        <div2>
                                            <label class="sr-only" for="name">Name:</label>
                                            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name">
                                        </div2>
                                    <td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <table>
                                <tr>
                                    <td>
                                        <div1 class="form_labels">
                                            <span>Email:</span>
                                        </div1>
                                    </td>
                                    <td class="form_text_field">
                                        <div2>
                                            <label class="sr-only" for="email">Email address:</label>
                                            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
                                        </div2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <table>
                                <tr>
                                    <td>
                                        <div1 class="form_labels">
                                            <span>Password:</span>
                                        </div1>
                                    </td>
                                    <td class="form_text_field">
                                        <div2>
                                            <label class="sr-only" for="pwd">Desired Password:</label>
                                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
                                        </div2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <table>
                                <tr>
                                    <td>
                                        <div1 class="form_labels">
                                            <span>Reenter Password:</span>
                                        </div1>
                                    </td>
                                    <td class="form_text_field">
                                        <div2>
                                            <label class="sr-only" for="pwd">Reenter Password</label>
                                            <input type="password" class="form-control" id="pwd2" placeholder="Reenter password" ng-model="user.password2">
                                        </div2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default btn-primary" ng-click="signUp()">Register</button>
                </form>
            </div>

            <div id="evaluate-lesson" class="tab-pane fade" ng-controller="reviewForm">
                <form role="form">
                    <h2 class="form-reviewform-heading">Triple E Review</h2>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Triple E Evaluation Rubric</th>

                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Lesson Title:
                                        <input style="margin-left:1.95em" type="textInput" name="title" id="lesson-title" ng-model="title">
                                    </label>
                                    <label>
                                        Learning Goals:
                                        <input style="margin-left:0.5em" type="textInput" name="learning_goals" id="learning-goals" ng-model="LearningGoals">
                                    </label>
                                    <label>
                                        Lesson URL:
                                        <input style="margin-left:0.5em" type="textInput" name="lesson_url" id="lesson-url" ng-model="LessonURL">
                                    </label>
                                    <label>
                                        Upload Lesson Document:
                                        <input style="margin-left:0.5em" type="file" name="lesson_document" id="lesson-doc" ng-model="lessonDocument">
                                    </label>
                                    <label>
                                        Keywords:
                                        <input style="margin-left:0.5em" type="textInput" name="tags" id="tags" ng-model="tagString">
                                    </label>
                                </td>
                                <td style="vertical-align: middle">
                                    <div>
                                        <select ng-model="subject">
                                            <option value="">Subject</option>
                                            <option ng-repeat="subjectObject in subjects" value="{{subjects.indexOf(subjectObject)}}">{{subjectObject.get("subjectName")}} </option>
                                        </select>
                                    </div>
                                </td>
                                <td style="vertical-align: middle">
                                    <div>
                                        <select ng-model="gradeLevel">
                                            <option value="">Grade Level</option>
                                            <option ng-repeat="gradelevel in gradeLevels" value="{{gradelevel}}">{{gradelevel}} </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Engagement in the learning</td>
                                <td>0=No</td>
                                <td>1=Somewhat</td>
                                <td>2=Yes</td>
                                <td>Comments</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology allows students to focus on the assignment or activity with less distraction.
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage11' name="engage1" ng-model="engage1" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage12' name="engage1" ng-model="engage1" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage13' name="engage1" ng-model="engage1" value="2">
                                        </label>
                                    </div>
                                </td>
                                <td rowspan="3" class="comments_field" ng-model="EngageComment">
                                	<label>
                                        <input  style="height:130px" type="textInput" name="tags" id="tags" ng-model="tagString">
                                    </label>
								</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology motivates students to start the learning process.
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage21' name="engage2" ng-model="engage2" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage22' name="engage2" ng-model="engage2" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage23' name="engage2" ng-model="engage2" value="2">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The technology causes a shift in the behavior of the students, where they move from passive to active social learners (co-use)
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage31' name="engage3" ng-model="engage3" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage32' name="engage3" ng-model="engage3" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='engage33' name="engage3" ng-model="engage3" value="2">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Enhancement of the learning goals</td>
                                <td>0=No</td>
                                <td>1=Somewhat</td>
                                <td>2=Yes</td>
                                <td>Comments</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology tool allows students are able to develop or demonstrate a more sophisticated understanding of the learning goals or content
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance11' name="enhance1" ng-model="enhance1" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance12' name="enhance1" ng-model="enhance1" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance13' name="enhance1" ng-model="enhance1" value="2">
                                        </label>
                                    </div>
                                </td>
                                <td rowspan="3" class="comments_field" ng-model="EnhanceComment">
                                	<label>
                                        <input  style="height:130px" type="textInput" name="tags" id="tags" ng-model="tagString">
                                    </label>
								</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates supports (scaffolds) to make it easier to understand concepts or ideas
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance21' name="enhance2" ng-model="enhance2" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance22' name="enhance2" ng-model="enhance2" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance23' name="enhance2" ng-model="enhance2" value="2">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates paths for students to demonstrate their understanding of the learning goals in a way that they could not do with traditional tools
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance31' name="enhance3" ng-model="enhance3" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance32' name="enhance3" ng-model="enhance3" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='enhance33' name="enhance3" ng-model="enhance3" value="2">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Extending the learning goals</td>
                                <td>0=No</td>
                                <td>1=Somewhat</td>
                                <td>2=Yes</td>
                                <td>Comments</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates opportunities for students to learn outside of their typical school day
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend11' name="extend1" ng-model="extend1" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend12' name="extend1" ng-model="extend1" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend13' name="extend1" ng-model="extend1" value="2">
                                        </label>
                                    </div>
                                </td>
                                <td rowspan="3" class="comments_field" ng-model="ExtendComment">
                                	<label>
                                        <input  style="height:130px" type="textInput" name="tags" id="tags" ng-model="tagString">
                                    </label>
								</td>
                            </tr>
                            <tr>
                                <td>
                                    The technology creates a bridge between students school learning and their everyday life experiences
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend21' name="extend2" ng-model="extend2" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend22' name="extend2" ng-model="extend2" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend23' name="extend2" ng-model="extend2" value="2">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The technology allows students to build authentic life skills, which they can use in their everyday lives
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend31' name="extend3" ng-model="extend3" value="0">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend32' name="extend3" ng-model="extend3" value="1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label>
                                            <input class="radio" type="radio" id='extend33' name="extend3" ng-model="extend3" value="2">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default btn-primary" ng-click="reviewForm()">Submit</button>
                </form>
            </div>

            <div id="reset" class="tab-pane fade" ng-controller="reset">
                <h3>Reset password</h3>
                <p>Please provide your email so we may send you password reset instructions</p>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="sr-only" for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email">
                    </div>
                </div>
                <button type="submit" class="btn btn-default btn-primary" ng-click="resetPassword()">Submit</button>
            </div>
            <div id="logout" class="tab-pane fade" ng-controller="logout">
                <button type="submit" class="btn btn-default btn-primary" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>

</body>
</html>
