<div class="tab-pane fade in active">
  <div class="row">
      <div class="col-md-4" style="min-width:80%;">
          <form>
         
              <div style="margin-top: 20px; min-height: 45px;">
                  <label class="search_labels">Lesson Evaluation Author:</label>
                  <input class="search_search_bars" ng-model="authorString" id="textInput" type="text"></input>
              </div>
              
              <div style="min-height: 45px">
                  <label class="search_labels">Lesson Evaluation Title:</label>
                  <input class="search_search_bars" ng-model="queryString" id="textInput" type="text"></input>
              </div>
              
              <div style="min-height: 45px">
                  <label class="search_labels">Keywords/Tools:</label>
                      <input class="search_search_bars" ng-model="tagString" id="textInput" type="text"></input>
              </div>
              
              <div style="min-height: 45px">
                  <label class="search_labels">Minimum Score:</label>
                      <input class="search_search_bars" ng-model="minScore" id="textInput" type="text"></input>
              </div>
              
              <div style="min-height: 45px">
                  <label class="search_labels">Subject:</label>
				  <select ng-model="subject" class="search_search_bars">
                      <option value="">Subject</option>
                      <option ng-repeat="subjectObject in subjects" value="{{subjectObject.get('subjectName')}}">{{subjectObject.get("subjectName")}} </option>
                  </select>
              </div>
              
              <div style="min-height: 45px">
                  <label class="search_labels">Grade Level:</label>
                  <select ng-model="gradeLevel" class="search_search_bars">
                      <option value="">Grade Level</option>
                      <option ng-repeat="gradelevel in gradeLevels" value="{{gradelevel}}">{{gradelevel}} </option>
                  </select>
              </div>
              <!-- 

              <div style="min-height: 30px">
                  <select ng-model="subject">
                      <option value="">Subject</option>
                      <option ng-repeat="subjectObject in subjects" value="{{subjectObject.get('subjectName')}}">{{subjectObject.get("subjectName")}} </option>
                  </select>
              </div>
              <div style="min-height: 30px">
                  <select ng-model="gradeLevel">
                      <option value="">Grade Level</option>
                      <option ng-repeat="gradelevel in gradeLevels" value="{{gradelevel}}">{{gradelevel}} </option>
                  </select>
              </div>
 -->
              <!--  <div>
                    <label>Learning Goals</label>
                    <input ng-model="queryString" id="textInput" type="text"></input>
                </div> -->
              <button type="button" class="btn btn-primary btn-lg " ng-click="searchEvals()">Press to Search</button>
          </form>
      </div>
  </div>
  <div id="search-results" hidden="true">
      <table class="table">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Subject</th>
                <th>Grade Level</th>
                <!--     <th>Learning Goals</th> -->
                <th>Score</th>
                <th>Engage Total</th>
                <th>Enhance Total</th>
                <th>Extend Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in results">
                <td>{{result.username}}</td>
                <td ng-click="setEval(result.objectId)">
                  <font color="blue" style="cursor: pointer;"> {{result.title}} </font>
                </td>
                <td>{{result.subject.get("subjectName")}}</td>
                <td>{{result.gradelevel}}</td>
                <!--       <td>{{result.learning_goals}}</td>-->
                <td>{{result.score}}</td>
                <td>{{result.engagetotal}}</td>
                <td>{{result.enhancetotal}}</td>
                <td>{{result.extendtotal}}</td>
            </tr>
        </tbody>
    </table>
  </div> 
</div>
