<div class="tab-pane fade in active">
  <div class="row">
      <div class="col-md-4">
          <table class="table" id="search-results">
              <thead>
                  <tr>
                      <th>Author</th>
                      <th>Title</th>
                      <th>Subject</th>
                      <th>Grade Level</th>
                      <!--     <th>Learning Goals</th> -->
                      <th>Score</th>
                      <th>Engage Total</th>
                      <th>Enhance Total</th>
                      <th>Extend Total</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="result in results">
                      <td>{{result.username}}</td>
                      <td ng-click="displayEval(result.objectId)"><font color="blue" style="cursor: pointer;"> {{result.title}} </font></td>
                      <td>{{result.subject.get("subjectName")}}</td>
                      <td>{{result.gradelevel}}</td>
                      <!--       <td>{{result.learning_goals}}</td>-->
                      <td>{{result.score}}</td>
                      <td>{{result.engagetotal}}</td>
                      <td>{{result.enhancetotal}}</td>
                      <td>{{result.extendtotal}}</td>
                  </tr>
              </tbody>
          </table>
          <form>
              <div style="min-height: 31px;">
                  <label class="search_labels">Evaluator</label>
                  <input style="min-width:65%" ng-model="authorString" id="textInput" type="text"></input>
              </div>
              <div style="min-height: 31px">
                  <label class="search_labels">Title</label>
                  <input style="min-width:65%" ng-model="queryString" id="textInput" type="text"></input>
              </div>
              <div style="min-height: 31px">
                  <label class="search_labels">Keywords</label>
<!--                                 <div> -->

                      <input style="min-width:65%;" ng-model="tagString" id="textInput" type="searchtext"></input>
<!--                                 </div> -->
              </div>
              <div style="min-height: 31px">
                  <label class="search_labels">Minimum Score</label>
<!--                                 <div> -->
                      <input style="min-width:65%" ng-model="minScore" id="textInput" type="text"></input>
<!--                                 </div> -->
              </div>
              <div>
                  <select ng-model="subject">
                      <option value="">Subject</option>
                      <option ng-repeat="subjectObject in subjects" value="{{subjectObject.get('subjectName')}}">{{subjectObject.get("subjectName")}} </option>
                  </select>
              </div>
              <div>
                  <select ng-model="gradeLevel">
                      <option value="">Grade Level</option>
                      <option ng-repeat="gradelevel in gradeLevels" value="{{gradelevel}}">{{gradelevel}} </option>
                  </select>
              </div>
              <!--  <div>
                    <label>Learning Goals</label>
                    <input ng-model="queryString" id="textInput" type="text"></input>
                </div> -->
              <button type="button" class="btn btn-primary btn-lg " ng-click="searchEvals()">Press to Search</button>
          </form>
      </div>
  </div>
  <div id="selected-search-result" hidden="true">
      <h2 class="form-reviewform-heading">Triple E Review</h2>
      <table class="table table-responsive">
          <thead>
              <tr>
                  <th>Triple E Evaluation Rubric</th>

              </tr>
              <div>
                  Lesson Title:
                  <label name="title" id="chosen-lesson-title">
              </div>
			  <div>
                  URL:
                  <label id="chosen-lesson-URL">
              </div>
              <div>
                  Evaluator:
                  <label id="chosen-lesson-author">
              </div>
              <div>
                  Subject:
                  <label id="chosen-lesson-subject">
              </div>
              <div>
                  Grade Level:
                  <label id="chosen-lesson-grade">
              </div>
              <div>
                  Learning Goals:
                  <label id="chosen-learning-goals">
              </div>
              <div>
                  Score:
                  <label id="chosen-lesson-score">
              </div>
              <div>
                  Engage Total:
                  <label id="chosen-engage-total">
              </div>
              <div>
                  Enhance Total:
                  <label id="chosen-enhance-total">
              </div>
              <div>
                  Extend Total:
                  <label id="chosen-extend-total">
              </div>
          </thead>
          <tbody id="chosen-individual-scores">
              <tr>
                  <td><strong>Engagement in the learning</strong></td>
                  <td>0=No</td>
                  <td>1=Somewhat</td>
                  <td>2=Yes</td>
                  <td>Comments</td>
              </tr>
              <tr>
                  <td>
                      The technology allows students to focus on the assignment or activity with less distraction.
                  </td>
                  <td>
                      <label id='engage10' name="engage1" ng-model="engage1" value="0">O</label>
                  </td>
                  <td>
                      <label id='engage11' name="engage1" ng-model="engage1" value="1">O</label>
                  </td>
                  <td>
                      <label id='engage12' name="engage1" ng-model="engage1" value="2">O</label>
                  </td>
                  <td rowspan="3" class="search_comments_field">
                    <label id='chosen-engage-comment'></label>
				  </td>
              </tr>
              <tr>
                  <td>
                      The technology motivates students to start the learning process.
                  </td>
                  <td>
                      <label id='engage20' name="engage2" ng-model="engage2" value="0">O</label>
                  </td>
                  <td>
                      <label id='engage21' name="engage2" ng-model="engage2" value="1">O</label>
                  </td>
                  <td>
                      <label id='engage22' name="engage2" ng-model="engage2" value="2">O</label>
                  </td>
              </tr>
              <tr>
                  <td>
                      The technology causes a shift in the behavior of the students, where they move from passive to active social learners (co-use)
                  </td>
                  <td>
                      <label id='engage30' name="engage3" ng-model="engage3" value="0">O</label>
                  </td>
                  <td>
                      <label id='engage31' name="engage3" ng-model="engage3" value="1">O</label>
                  </td>
                  <td>
                      <label id='engage32' name="engage3" ng-model="engage3" value="2">O</label>
                  </td>
              </tr>
              <tr>
                  <td><strong>Enhancement of the learning goals</strong></td>
                  <td>0=No</td>
                  <td>1=Somewhat</td>
                  <td>2=Yes</td>
                  <td>Comments</td>
              </tr>
              <tr>
                  <td>
                      The technology tool allows students are able to develop or demonstrate a more sophisticated understanding of the learning goals or content
                  </td>
                  <td>
                      <label id='enhance10' name="enhance1" ng-model="enhance1" value="0">O</label>
                  </td>
                  <td>
                      <label id='enhance11' name="enhance1" ng-model="enhance1" value="1">O</label>
                  </td>
                  <td>
                      <label id='enhance12' name="enhance1" ng-model="enhance1" value="2">O</label>
                  </td>
                  <td rowspan="3" class="search_comments_field">
                    <label id='chosen-enhance-comment'></label>
				  </td>
              </tr>
              <tr>
                  <td>
                      The technology creates supports (scaffolds) to make it easier to understand concepts or ideas
                  </td>
                  <td>
                      <label id='enhance20' name="enhance2" ng-model="enhance2" value="0">O</label>
                  </td>
                  <td>
                      <label id='enhance21' name="enhance2" ng-model="enhance2" value="1">O</label>
                  </td>
                  <td>
                      <label id='enhance22' name="enhance2" ng-model="enhance2" value="2">O</label>
                  </td>
              </tr>
              <tr>
                  <td>
                      The technology creates paths for students to demonstrate their understanding of the learning goals in a way that they could not do with traditional tools
                  </td>
                  <td>
                      <label id='enhance30' name="enhance3" ng-model="enhance3" value="0">O</label>
                  </td>
                  <td>
                      <label id='enhance31' name="enhance3" ng-model="enhance3" value="1">O</label>
                  </td>
                  <td>
                      <label id='enhance32' name="enhance3" ng-model="enhance3" value="2">O</label>
                  </td>
              </tr>
              <tr>
                  <td><strong>Extending the learning goals</strong></td>
                  <td>0=No</td>
                  <td>1=Somewhat</td>
                  <td>2=Yes</td>
                  <td>Comments</td>
              </tr>
              <tr>
                  <td>
                      The technology creates opportunities for students to learn outside of their typical school day
                  </td>
                  <td>
                      <label id='extend10' name="extend1" ng-model="extend1" value="0">O</label>
                  </td>
                  <td>
                      <label id='extend11' name="extend1" ng-model="extend1" value="1">O</label>
                  </td>
                  <td>
                      <label id='extend12' name="extend1" ng-model="extend1" value="2">O</label>
                  </td>
                  <td rowspan="3" class="search_comments_field">
                    <label id='chosen-extend-comment'></label>
				  </td>
              </tr>
              <tr>
                  <td>
                      The technology creates a bridge between students school learning and their everyday life experiences
                  </td>
                  <td>
                      <label id='extend20' name="extend2" ng-model="extend2" value="0">O</label>
                  </td>
                  <td>
                      <label id='extend21' name="extend2" ng-model="extend2" value="1">O</label>
                  </td>
                  <td>
                      <label id='extend22' name="extend2" ng-model="extend2" value="2">O</label>
                  </td>
              </tr>
              <tr>
                  <td>
                      The technology allows students to build authentic life skills, which they can use in their everyday lives
                  </td>
                  <td>
                      <label id='extend30' name="extend3" ng-model="extend3" value="0">O</label>
                  </td>
                  <td>
                      <label id='extend31' name="extend3" ng-model="extend3" value="1">O</label>
                  </td>
                  <td>
                      <label id='extend32' name="extend3" ng-model="extend3" value="2">O</label>
                  </td>
              </tr>
          </tbody>
      </table>
	  <a href="#edit-eval">edit
	  </a>
  </div>
</div>
