<div class="tab-pane fade in active">
    <form role="form" ng-submit="login()" ng-hide="isUser()">
        <h2 class="form-signin-heading">Sign in</h2>
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Enter username" ng-model="user.username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="sr-only" for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
            </div>
        </div>
        <h5 class="error-message" ng-show="error">{{error_msg}}</h5>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div ng-show="isUser()">
        Welcome {{user.username}}
        <br/><br/>

        <table class="table table-responsive">
            <thead>
                <th>Evaluation Results</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                    13-18 Points=Green Light:  Exceptional or very strong connection between technology, instructional moves and learning goals.   When a lesson has at least 13 points, it is always meeting all three components of the Framework.  Therefore, these lessons tend to show a remarkable connection between the technology tools, instructional choices around the tool, and students’ focus and take up of the learning goals.  Students should be engaged as active time-on task social learners through the technology. Students understanding of the learning goals should be enhanced through the technology in ways that traditional tools could not easily do, and finally students understanding of the learning goals should transcend the classroom so that they are connecting what they are learning to their everyday life.
                    </td>
                </tr>
                <tr>
                    <td>
                    7-12 Points=  Yellow Light:  When a lesson is meeting between 10 and 12 points, The lesson is meeting at least two of the three levels of the Framework.  By meeting at least two levels (most often engagement and enhancement or engagement and extension) there is a strong connection between technology tools and student’s take up of the learning goals.  When a lesson has between 7 and 9 points, The lesson is usually meeting two of the levels of the Framework.  However, it is not usually meeting both components at all the highest options.  Thus, while there is a connection between technology and learning goals, educators should take time to re-evaluate the lesson and technology choices and instructional moves to make certain that technology enhances and/or extends the learning goals in some significant way.  This may be an opportunity to add more instructional moves into the lesson to better leverage the technology for student learning.
                    </td>
                </tr>
                <tr>
                    <td>
                    6 Points or below= Red Light: When a lesson has 6 points or below, the lesson is often meeting only one of the levels of the Framework.  This level is almost always engagement. Consequently, the connection between technology, instructional moves and learning goals tends to be low and if engagement is the only connection, the educators should reconsider if this particular technology should be used in the lesson, if more instructional moves should be added to better leverage the technology for enhancing or extending learning or if a more traditional method (not using technology) may be more appropriate.  In particular, since technology tends to extol much time and energy to set up and implement, it should be used carefully and purposefully.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="row" ng-hide="isUser()">
        <div class="col-md-6">
            <a href="#signup"><button data-toggle="tab" class="btn btn-success ">Signup</button></a>
            <a href="#reset-password"><button data-toggle="tab" class="btn btn-default ">Forgot Password?</button></a>
        </div>
    </div>
</div>
