<div class="tab-pane fade in active">
    <form role="form" ng-submit="login()" ng-hide="isUser()">
        <h2 class="form-signin-heading">Sign in</h2>
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Enter username" ng-model="user.username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="sr-only" for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
            </div>
        </div>
        <h5 class="error-message" ng-show="error">{{error_msg}}</h5>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <br>
    <div class="row" ng-hide="isUser()">
        <div class="col-md-6">
            <a href="#!signup"><button data-toggle="tab" class="btn btn-success ">Signup</button></a>
            <a href="#!reset-password"><button data-toggle="tab" class="btn btn-default ">Forgot Password?</button></a>
        </div>
    </div>
    
<!--     <div ng-show="isUser()"> -->
    <div>
<!--         <div ng-show="isUser()"> Welcome {{user.username}} </div> -->


		<div align="center" style="margin-bottom:20px">
			<img src="triple_e_logo_final.jpg" style="max-height:200px; max-width:280px;">
		</div>
        <table class="table table-responsive">
            <thead>
                <th ng-show="isUser()"> Welcome {{user.username}} </th>
            </thead>
        </table>
        
<p> The TripleEPLN.org hosts the Triple E PLN – the Triple E Professional Learning Network. In the TripleEPLN K-16 educators come together to share and discuss evaluations of their lesson plans that integrate technology!  Registration is 100% free and open to all educators.  At the heart of the TripleEPLN is the TripleE Rubric, a tool, based on the Triple E Framework, for educators to use to evaluate how significantly the technology effects student learning goals. </p>

<p> Educators are invited to register, evaluate their own lessons, share their lessons, and discuss ways to improve the lessons based on the Triple E Framework. </p>

<p> Questions? Please contact Dr. Liz Kolb, Assistant Professor, School of Education, University of Michigan at tripleEpln-info@umich.edu. </p>


    </div>
</div>
