<div class="tab-pane fade in active">
    <form role="form">
        <h2 class="form-signup-heading">Signup</h2>
        <div class="row">
            <div class="col-md-6 form-group">
                <table>
                    <tr>
                        <td>
                            <div1 class="form_labels">
                                <span>Username:</span>
                            </div1>
                        </td>
                        <td class="form_text_field">
                            <div2>
                                <label class="sr-only" for="username">Username:</label>
                                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
                            </div2>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <div1 class="form_labels">
                                <span>Name:</span>
                            </div1>
                        </td>
                        <td class="form_text_field">
                            <div2>
                                <label class="sr-only" for="name">Name:</label>
                                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name">
                            </div2>
                        <td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <table>
                    <tr>
                        <td>
                            <div1 class="form_labels">
                                <span>Email:</span>
                            </div1>
                        </td>
                        <td class="form_text_field">
                            <div2>
                                <label class="sr-only" for="email">Email address:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
                            </div2>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <table>
                    <tr>
                        <td>
                            <div1 class="form_labels">
                                <span>Password:</span>
                            </div1>
                        </td>
                        <td class="form_text_field">
                            <div2>
                                <label class="sr-only" for="pwd">Desired Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
                            </div2>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <table>
                    <tr>
                        <td>
                            <div1 class="form_labels">
                                <span>Reenter Password:</span>
                            </div1>
                        </td>
                        <td class="form_text_field">
                            <div2>
                                <label class="sr-only" for="pwd">Reenter Password</label>
                                <input type="password" class="form-control" id="pwd2" placeholder="Reenter password" ng-model="user.password2">
                            </div2>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <h5 class="error-message" ng-show='error'>{{error_msg}}</h5>
        <button type="submit" class="btn btn-default btn-primary" ng-click="signUp()">Register</button>
    </form>
</div>
