<h2 class="form-reviewform-heading">Tutorial</h2>
<table class="table table-responsive">


    <!-- 	Tutorial video here -->
    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rYn7Xs25PiI" frameborder="0" allowfullscreen></iframe>
    </div>


    <!--
     <thead>
                    <th>
    <!~~                     <strong>Tutorial</strong> ~~>
                    </th>
                </thead>
     -->
    <!--             <br/><br/> -->
    <tbody>
        <tr>
            <td><strong>Search TripleE Evaluations Tab</td>
        </tr>
        <tr>
            <td>
                In this tab, you can search for existing TripleE lesson evaluations. You can search based on the following criteria: TripleE lesson evaluation author, TripleE lesson evaluation title, keywords (e.g., technology tools/apps), minimum score, school subjects, or school grade levels.
            </td>
        </tr>

        <tr>
            <td><strong>Evaluate Your Lesson Using TripleE Tab</td>
        </tr>
        <tr>
            <td>
                In this tab, you can submit your own TripleE evaluations for lesson plans. First, you will evaluate your lesson according to the TripleE rubric, giving scores between 0 and 2 for engagement, enhancement, and extension of the learning goals). Next, you will include the following information: TripleE lesson evaluation author, TripleE lesson evaluation title, keywords (e.g., technology tools/apps), minimum score, school subjects, or school grade levels. You can also upload the actual lesson (in PDF).
            </td>
        </tr>

        <tr>
            <td><strong>Account Tab</td>
        </tr>
        <tr>
            <td>
                In this tab, you can login if you aren't already logged in, or logout if you are logged in.
            </td>
        </tr>

        <tr>
            <td><strong>Profile Tab</td>
        </tr>
        <tr>
            <td>
                In this tab, you can view your profile picture, a brief description about yourself, and all your lesson evaluations.
            </td>
        </tr>

    </tbody>
</table>